 /* For "details" tag */
        /* Hide the default marker */
        /* details summary {
            list-style: none;
            cursor: pointer;
            position: relative;
        } */
        
        /* Adding custom symbols */
        /* details summary::before {
            content: '';
            position: absolute;
            left: -20px;
            font-size: 18px;
            color: #000;
        } */
        
        /* Change symbol when details is open */
        /* details[open] summary::before {
            content: 'Read less';
        } */
        
        /* Optionally styling the details content */
        /* details {
            margin-bottom: 10px;
            border: 1px solid #ddd;
            padding: 10px;
            width: 300px;
        } */
        
        /* details[open] {
            background-color: #f9f9f9;
        } */

        /* For "table" */
        /* table {
            width: 100%;
            border-collapse: collapse; 
        } */

        /* td {
            padding: 10px;
            vertical-align: top;
            border: none; 
        } */

        /* Style for the company logo */
        /* .company-logo {
            width: 100px;
            height: auto;
        } */

        /* Styling the collapsible section */
        details summary {
            cursor: pointer;
            font-weight: bold;
            color: #009999 ;
        }

        /* Optional: styling the details block */
        /* details {
            margin-top: 5px;
        } */

        /* Container for each job entry */
        .job-container {
            display: flex;
            align-items: flex-start;
            /* border: 1px solid #ddd; */
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            width: 100%;
            max-width: 1000px;
        }

        /* Company logo */
        .company-logo {
            flex: 0 0 120px;
            width: 120px;
            height: 100px;
            margin-right: 20px;
            object-fit: contain;
        }

        /* Job details section */
        .job-details {
            flex: 1;
        }

        /* Job title and duration section */
        .job-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .job-title {
            font-size: 1.2em;
            font-weight: bold;
            margin: 0;
        }

        .job-subtitle {
            font-size: 1em;
            font-weight: normal;
            color: #555;
            margin-top: 5px;
            font-style: italic;
        }

        .job-location {
            font-size: 1em;
            font-weight: normal;
            color: #666;
            margin-top: 5px;
            font-style: oblique;
        }

        .job-duration {
            font-size: 1em;
            color: #555555;
            font-style: italic;
        }

        /* High-level details */
        .job-info {
            margin-top: 10px;
            font-size: 0.9em;
            color: #555;
        }

        .job-info li {
            margin-bottom: 5px;
        }

        /* Publications */
        /* Each publication entry */
        .publication-entry {
            background-color: white;
            border-radius: 8px;
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
            padding: 20px;
            margin-bottom: 20px;
        }

        /* Publication title */
        .publication-title {
            font-size: 1.2em;
            font-weight: bold;
            margin: 0;
        }

        /* Authors, journal, date */
        .publication-details {
            color: #666;
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 0.9em;
        }

        /* Button to show/hide abstract */
        .toggle-abstract {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 8px 12px;
            font-size: 0.8em;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }

        /* Collapsible abstract */
        .publication-abstract {
            /* display: none;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #eee; */
            margin-top: 10px;
            font-size: 1em;
            color: #555;
        }

        /* Links for journals, DOI, etc. */
        .publication-links a {
            text-decoration: none;
            color: #007BFF;
        }

        .publication-links a:hover {
            text-decoration: underline;
        }

        .publication-authors {
            font-size: 1.05em;
            font-weight: normal;
            color: #555;
            margin-top: 5px;
            font-style: oblique;
        }

        .publication-conference {
            font-size: 1em;
            font-weight: normal;
            color: #666;
            margin-top: 5px;
            font-style: italic;
        }

        /* Education */
        .education-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
        }
        
        .grid-item {
            position: relative;
            background: #fff;
            border: 1px solid #ddd;
            padding: 15px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
        }
        
        .grid-item:hover {
            transform: translateY(-5px);
        }
        
        .grid-icon img {
            width: 50px;
            margin-bottom: 10px;
        }
        
        .grid-details {
            margin-bottom: 10px;
        }
        
        .grid-hover-content {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        
        .grid-item:hover .grid-hover-content {
            opacity: 1;
        }

        /* slider education */
        .card-slider {
            display: flex;
            overflow-x: scroll;
            padding: 20px;
        }
        
        .card {
            min-width: 250px;
            background-color: #fff;
            margin-right: 20px;
            border: 1px solid #ddd;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        
        .card img {
            width: 50px;
            margin-bottom: 15px;
        }
        
        .card h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        /* Education grid flip configuration */
        .education-container {
            display: flex;
            gap: 50px;
            justify-content: space-evenly;
            margin: 50px auto;
        }
        
        .card {
            width: 320px;  /* Increased width */
            height: 480px;  /* Increased height */
            perspective: 1000px;
        }
        
        .card-inner {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }
        
        .card:hover .card-inner {
            transform: rotateY(180deg);
        }
        
        .card-front, .card-back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        
        .card-front {
            background-color: #fff;
        }
        
        /* .card-back {
            background-color: #f9f9f9;
            transform: rotateY(180deg);
        } */

        .card-back {
            background-color: #f9f9f9;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        
        .card-back h3 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        
        .card-back ul {
            /* list-style: none; */
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .card-back ul li {
            font-size: 16px;
            margin: 5px 0;
        }
        
        /* Container to ensure the logo has space */
        .logo-container {
            /* display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            width: 100%;
            height: auto;  */
            display: flex;
            gap: 20px;
            justify-content: space-evenly;
            margin: 50px auto;
        }

        .university-logo {
            width: 100%;  /* Ensure the image takes full width of container */
            height: auto;
            max-width: none;  /* Remove constraints */
            transform: scale(3);  /* Increase size by 50% */
            transform-origin: center;  /* Scale from the center */
        }

        .mcgill-university-logo {
            width: 100%;  /* Ensure the image takes full width of container */
            height: auto;
            max-width: none;  /* Remove constraints */
            transform: scale(4);  /* Increase size by 50% */
            transform-origin: center;
        }

        
        .program-info {
            flex: 1;
            text-align: center;
        }
        
        .program-info h2 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .program-name {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #333;
        }
        
        .program-duration {
            font-size: 16px;
            font-weight: 400;
            color: #555;
        }
        
        .program-duration i {
            color: #555;
            margin-right: 8px;
        }
        
        /* .card-back ul {
            list-style: none;
            padding: 0;
        }
        
        .card-back ul li {
            font-size: 16px;
            margin: 5px 0;
        } */